@page "/systemaccounts"
@using Models
@using Repository
@inject IAccountRepo AccountRepo

<PageTitle>System Accounts</PageTitle>

<h1>System Accounts</h1>

<p>
    <a href="systemaccounts/create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in accounts)
        {
            <tr>
                <td>@account.AccountName</td>
                <td>@account.AccountEmail</td>
                <td>@account.AccountRole</td>
                <td>
                    <a href="@($"systemaccounts/edit?accountid={account.AccountId}")">Edit</a> |
                    <a href="@($"systemaccounts/details?accountid={account.AccountId}")">Details</a> |
                    <a href="@($"systemaccounts/delete?accountid={account.AccountId}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<SystemAccount> accounts = new List<SystemAccount>();

    protected override void OnInitialized()
    {
        accounts = AccountRepo.GetAllAccounts();
    }
}