@page "/newsarticles/details"
@using Models
@using Repository
@inject INewsArticleRepo NewsArticleRepo
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>NewsArticle</h2>
    <hr />
    @if (newsArticle is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">NewsTitle</dt>
            <dd class="col-sm-10">@newsArticle.NewsTitle</dd>
            <dt class="col-sm-2">Headline</dt>
            <dd class="col-sm-10">@newsArticle.Headline</dd>
            <dt class="col-sm-2">CreatedDate</dt>
            <dd class="col-sm-10">@newsArticle.CreatedDate</dd>
            <dt class="col-sm-2">NewsContent</dt>
            <dd class="col-sm-10">@newsArticle.NewsContent</dd>
            <dt class="col-sm-2">NewsSource</dt>
            <dd class="col-sm-10">@newsArticle.NewsSource</dd>
            <dt class="col-sm-2">CategoryId</dt>
            <dd class="col-sm-10">@newsArticle.CategoryId</dd>
            <dt class="col-sm-2">NewsStatus</dt>
            <dd class="col-sm-10">@newsArticle.NewsStatus</dd>
            <dt class="col-sm-2">CreatedById</dt>
            <dd class="col-sm-10">@newsArticle.CreatedById</dd>
            <dt class="col-sm-2">UpdatedById</dt>
            <dd class="col-sm-10">@newsArticle.UpdatedById</dd>
            <dt class="col-sm-2">ModifiedDate</dt>
            <dd class="col-sm-10">@newsArticle.ModifiedDate</dd>
        </dl>
        <div>
            <a href="@($"/newsarticles/edit?newsarticleid={newsArticle.NewsArticleId}")">Edit</a> |
            <a href="@($"/newsarticles")">Back to List</a>
        </div>
    }
</div>

@code {
    private NewsArticle? newsArticle;

    [SupplyParameterFromQuery]
    private int NewsArticleId { get; set; }

    protected override void OnInitialized()
    {
        newsArticle = NewsArticleRepo.GetNewsArticleById(NewsArticleId);

        if (newsArticle is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}