@page "/categories"
@using Models
@using Repository
@inject ICategoryRepo CategoryRepo

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

<p>
    <a href="categories/create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Parent Category</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in categories)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td>@category.CategoryDesciption</td>
                <td>@category.ParentCategoryId</td>
                <td>@(category.IsActive ? "Active" : "Inactive")</td>
                <td>
                    <a href="@($"categories/edit?categoryid={category.CategoryId}")">Edit</a> |
                    <a href="@($"categories/details?categoryid={category.CategoryId}")">Details</a> |
                    <a href="@($"categories/delete?categoryid={category.CategoryId}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<Category> categories = new List<Category>();

    protected override void OnInitialized()
    {
        categories = CategoryRepo.GetAllCategories();
    }
}